Repository VNG-Realisatie/api-beheer, pull requests merged in 2019-02, with the labels that each got.

#89 Update beheer.md
  beheer.md
Labels: Beheerder

#98 Create FAQ.md
  FAQ.md
Labels: FAQ

#97 Update begrippenlijst.md
  begrippenlijst.md
Labels: Begrippenlijst
